* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: rgb(39, 41, 68);
  font-family: sans-serif;
}

.score {
  color: rgb(224, 224, 224);
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score h2 {
  font-size: 1.5em;
}

.score p {
  text-align: center;
  font-size: 1.2em;
  padding-top: 1em;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  color: rgb(224, 224, 224);
}

.intro button {
  width: 7rem;
  height: 3rem;
  color: rgb(224, 224, 224);
  border: none;
  border-radius: 5%;
  background-color:rgb(45, 117, 96);
  font-size: 1em;
  cursor: pointer;
}

.intro h1 {
  font-size: 2em;
}
